<div class="row">
  <div class="col-md-1">
    <div>
      <img src="../../../assets/img/theme/add.png" style="width: 4rem;
      height: 4rem;">
    </div>
  </div>
  <div class="col-md-10" style="padding: 0; margin: 0">
    <h3 class="maintitle">{{titulo}} película</h3>
  </div>
</div>

  <form [formGroup]="datos" class="row" style="padding: 0;">
    <div class="col-md-7" style="padding: 0; margin-right: 2rem;">
        <div class="row" style="padding: 0;">
          <div class="col-md-6 form-group">
            <label class="labeltitulo">Nombre</label>
            <input class="form-control inputform" type="text" formControlName="nombre" required placeholder="Título película">
          </div>
          <div class="col-md-6 form-group">
            <label class="labeltitulo">Idioma</label>
            <input class="form-control inputform" type="text" formControlName="idioma" required placeholder="Idioma">
          </div>
          <div class="col-md-6 form-group">
            <label class="labeltitulo">Clasificación</label>
            <select class="form-control inputform" type="text" formControlName="clasificacion" required>
              <option *ngFor="let item of clasificacion" [value]="item.value">{{item.nombre}}</option>
            </select>
          </div>
          <div class="col-md-6 form-group">
            <label class="labeltitulo">Duración (en min)</label>
            <input class="form-control inputform" type="number" formControlName="duracion" required placeholder="Duración">
          </div>


          <div class="col-md-6 form-group">
            <label class="labeltitulo">Fecha estreno</label>
            <input class="form-control inputform" type="date" formControlName="fecha" required placeholder="Fecha estreno">
          </div>

          <div class="col-md-6 form-group">
            <label class="labeltitulo">Url trailer</label>
            <input class="form-control inputform" type="text" formControlName="url" required placeholder="Enlace">
          </div>

          <div class="col-md-6 form-group">
            <label class="labeltitulo">Sinopsis</label>
            <input class="form-control inputform" type="text" formControlName="sinopsis" required placeholder="Sinopsis">
          </div>

          <div class="col-md-6 form-group">
            <label class="labeltitulo">Director</label>
            <input class="form-control inputform" type="text" formControlName="director" required placeholder="Director">
          </div>

          <div class="col-md-12 form-group">
            <label class="labeltitulo">Reparto</label>
            <textarea cols="30" rows="10" class="form-control inputform" formControlName="reparto" required
            placeholder="Escriba los miembros del reparto..."></textarea>
          </div>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0;">
      <div class="col-md-12 form-group">
        <label class="labeltitulo">Poster pelicula</label>
        <input type="file" (change)="capturarImage($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="poster" required accept="image/jpeg,image/x-png">
        <div *ngIf="previsualizacion" style="padding: 6%">
          <div class="col">
            <img class="previsualizacion" [src]="previsualizacion">
          </div>
          <div class="col">
            <span class="previsualizacion">Previsualizacion</span>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
            <button *ngIf="this.data.tipoForm == 0"
            type="button" (click)="guardar()" [disabled]="!this.datos.valid"
            class="btn btn-info text-white">Crear</button>

            <button *ngIf="this.data.tipoForm == 1"
            type="button" (click)="editar()" [disabled]="!this.datos.valid"
            class="btn btn-info text-white">Editar</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="close(0)">Cerrar</button>
        </div>
      </div>
    </div>
  </form>

