@media(max-width: 3000px){
    .blogtitle{
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 1.3rem !important;
    }


    .imgmainblog{
        height: auto;
        width: 50%;
        border-radius: 6px;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}


@media(max-width: 400){
    .blogtitle{
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 1.3rem !important;
    }


    .imgmainblog{
        height: auto;
        width: 83%;
        border-radius: 6px;
        overflow: hidden;
        background-repeat: no-repeat;
    }
}





.modalimgcontainer{
    display: grid;
    justify-items: center;
}

.bodycontainer{
    margin-top: 2rem;
    max-height: 14vh;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: #F5F5F5 !important;
}

.scroll::-webkit-scrollbar-track {
    background-color: #F5F5F5 !important;
    border-radius: 10px !important;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #555 !important;    /* color of the scroll thumb */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    border-radius: 6px;
}

.inputform{
  border: solid 1px #d3dce6 !important;
  height: 2rem !important;
}

.labeltitulo{
  color: #8898aa !important;
  font-size: 0.8rem !important;
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.form-control{
  outline: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.12rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  margin-bottom: 1rem;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.maintitle{
  font-family: 'Nunito';
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  margin: 1rem 0rem 0rem 1rem;
  margin-top: 3%;
}

.previsualizacion{
  height: 14rem;
  width: auto;
  border-radius: 4%;
}

.previsualizacion:hover{
  filter : grayscale(60%);
  transform: scale(1.02);
  transition: 1s;
}

.previsualizacion{
  font-family: 'Roboto';
  font-weight: 700;
  color: #484848;
  font-size: 1rem;
}
