<footer class="text-center text-white fixed-bottom" style="background-color: #022a4e;">


    <div class="text-center p-3">
      Made by Marco Hackling
      <img src="../../../assets/img/theme/newsicon.png" class="logofooter" alt="">
      <a class="text-white makingappstext" target="_blank" href="https://www.makingapps.com.co/"> Royal Films © </a>
    </div>

</footer>
