.newslogo{
    height: 2.5rem;
    width: auto;
}

@media (max-width: 3000px){
  .user-photo{
    height: 3rem !important;
    width: auto;
    border-radius: 14px;
    border: 1px solid #65b0a821;
    cursor: pointer;
  }

  .logout-container{
    padding: 1rem 1rem 0rem 1rem;
  }
}

@media (max-width: 991px){
  .user-photo{
    height: 3rem !important;
    width: auto;
    border-radius: 14px;
    border: 1px solid #65b0a821;
    cursor: pointer;
    display: none;
  }

  .logout-container{
    padding: 1rem 1rem 0rem 1rem;
  }
}

@media (max-width: 400px){
  .logout-container{
    padding: 0.8rem 1rem 0rem 0rem;
  }
}


.logout-icon{
  color: #022a4e;
  cursor: pointer;
}

.main-icon{
  color: #022a4e;
  cursor: pointer;
  margin-top: 6px;
}

.logout-icon:hover{
  transform: scale(1.2);
  transition: 1s;
}


.welcome{
  height: auto;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
}

.navtext{
  font-family: 'Nunito';
  font-size: 1rem;
  font-weight: 700;
}

.bg-lightmode{
  background-color: white !important;
}
