<nav class="navbar navbar-expand-lg navbar-light bg-lightmode">
    <div class="container-fluid">
      <a class="navbar-brand">
          <img src="../../../assets/img/theme/landing.png" class="newslogo" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item d-flex" *ngFor="let item of routesNav">
            <mat-icon aria-hidden="false" class="main-icon">{{item.icon}}</mat-icon>
            <a class="nav-link navtext" routerLinkActive="active" [routerLink]="item.path">{{item.nombre}}</a>
          </li>

        </ul>
        <div class="d-flex">
          <span class="welcome">Bienvenido {{username}}!</span>
          <div>
            <img class="user-photo" src="../../../assets/img/theme/default-user.png" alt="default user photo">
          </div>
          <div class="logout-container">
            <mat-icon aria-hidden="false" (click)="logout()" class="logout-icon" matTooltip="Cerrar sesión">logout</mat-icon>
          </div>

        </div>

      </div>
    </div>
  </nav>
