@media(max-width: 3000px){
    .main-content{
        display: flex;
        margin-left: 18%;
        padding-bottom: 6%;
    }

    .blogtitle{
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 3rem;
    }

    .imgmainblog{
        height: auto;
        width: 40%;
        border-radius: 6px;
        overflow: hidden;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .imgblog{
        height: auto;
        width: 46%;
        overflow: hidden;
        background-repeat: no-repeat;
        border-radius: 6px;
        cursor: pointer;
    }


    .imgmainblog:hover{
        transform: scale(1.03);
        transition: 1s;
    }

    .imgblog:hover{
        transform: scale(1.03);
        transition: 1s;
    }

    .maintitle{
        font-family: 'Nunito';
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
    }
}

@media(max-width: 400px){
    .main-content{
        display: flex;
        margin-left: 3%;
        padding-bottom: 17%;
        overflow-x: hidden;
    }

    .blogtitle{
        font-family: "Nunito";
        font-weight: 800;
        font-size: 3rem;
        line-height: 3rem;
    }

    .imgmainblog{
        height: auto;
        width: 90%;
        border-radius: 6px;
        overflow: hidden;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .imgblog{
        height: auto;
        width: 87%;
        overflow: hidden;
        background-repeat: no-repeat;
        border-radius: 6px;
        cursor: pointer;
    }


    .imgmainblog:hover{
        transform: scale(1.03);
        transition: 1s;
    }

    .imgblog:hover{
        transform: scale(1.03);
        transition: 1s;
    }

    .maintitle{
        font-family: 'Nunito';
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: 700;
    }
}






.mainblog{
    padding: 0;
    display: contents;
}

.secondblog{
    padding: 0;
}




.blogspace{
    margin-top: 3rem;
}


.dateblog{
    font-family: 'Nunito';
    font-weight: 700;
    color: #515151;
}

.datecontainer{
    padding: 4% 0% 3% 3%;
}

.secondatecontainer{
    padding: 0% 1% 0% 2%;
}



.secondtitle{
    font-family: "Nunito";
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 700;
}

.titlecontainer{
    padding: 0% 0% 0% 3%;
}

.newstitle{
    padding: 5% 0% 4% 0%;
}

.blogsubtitle{
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 500;
    color: #4b4e50;
}

.scroll::-webkit-scrollbar {
  width: 4px !important;
  height: 8px !important;
  background-color: #F5F5F5 !important;
}

.scroll::-webkit-scrollbar-track {
  background-color: #F5F5F5 !important;
  border-radius: 10px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #555 !important;    /* color of the scroll thumb */
  border-radius: 20px !important;       /* roundness of the scroll thumb */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}

.trhead{
  background: white;
}


.filterbg{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.inputform{
  border: solid 1px #d3dce6 !important;
  height: 2rem !important;
}

.labeltitulo{
  color: #8898aa !important;
  font-size: 0.6rem !important;
  font-family: 'Open Sans' !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.form-control{
  outline: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 1.25rem + 2px);
  padding: 0.12rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8898aa;
  background-color: #fff;
  background-clip: padding-box;
  margin-bottom: 1rem;
  border: 1px solid #cad1d7;
  border-radius: 0.375rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
