<div class="container">
    <div class="row main-content">
        <div class="col-md-12 newstitle">
            <h6 class="blogtitle">Panel administrativo</h6>
            <span class="blogsubtitle">Crea, edita, elimina o inactiva películas de cartelera</span>
        </div>
        <div class="col-md-12" style="margin-bottom: 1rem;">

          <div class="row">
            <div class="col-md-2" style="padding: 0;">
              <button type="button" class="btn btn-info text-white"
                (click)="nuevaPelicula()"
              [disabled]="selected">Nueva película</button>
            </div>

            <div class="col-md-2" style="padding: 0;">
              <button type="button" (click)="editarPelicula()" class="btn btn-success" [disabled]="!selected">Editar película</button>
            </div>

            <div class="col-md-2" style="padding: 0;">
              <button type="button" class="btn btn-danger" (click)="eliminar(this.itemSelected)" [disabled]="!selected">Eliminar película</button>
            </div>
          </div>

        </div>

        <div class="col-md-12" [formGroup]="datos">
            <div class="row filterbg">
              <div class="col-md-2">
                <label class="labeltitulo">Idioma</label>
                <input class="form-control inputform" type="text" [(ngModel)]="idioma" formControlName="idioma" required placeholder="Idioma">
              </div>
              <div class="col-md-2">
                <label class="labeltitulo">Clasificación</label>
                <select class="form-control inputform" type="text" [(ngModel)]="clasif" formControlName="clasificacion" required>
                  <option *ngFor="let item of clasificacion" [value]="item.value">{{item.nombre}}</option>
                </select>
              </div>
              <div class="col-md-3">
                <label class="labeltitulo">Fecha Inicio</label>
                <input class="form-control inputform" type="date" [(ngModel)]="fechaInicio" formControlName="fechaInicio" required>

              </div>
              <div class="col-md-2">
                <label class="labeltitulo">Fecha Fin</label>

                <input class="form-control inputform" type="date" [(ngModel)]="fechaFin" formControlName="fechaFin" required>
              </div>
              <div class="col-md-1" style="display: grid;
              align-items: center;">
                <button type="button" (click)="filtrar()" class="btn btn-primary btn-sm">Filtrar</button>
              </div>
              <div class="col-md-1" style="display: grid; padding: 0;
              align-items: center;">
                <button type="button" (click)="limpiar()" class="btn btn-primary btn-sm">Limpiar</button>
              </div>
            </div>
        </div>

        <div class="col-md-12" style="padding: 0;">
          <div style="max-height: 50vh; overflow-y: scroll" class="scroll">
            <table class="table align-items-center table-flush">
              <thead>
                <tr class="trhead">
                  <th scope="col"> </th>
                  <th scope="col">Nombre película</th>
                  <th scope="col">Clasificación</th>
                  <th scope="col">Fecha de estreno</th>
                  <th scope="col">Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr class="trhead" *ngFor="let item of this.peliculas; let row; let i = index">
                  <td>
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" name="{{i}}"
                    (change)="$event ? selection.toggle(row) : null; setCheckBox($event, row)"
                    [checked]="selection.isSelected(row)">
                    </mat-checkbox>

                  </td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.clasificacion}}</td>
                  <td>{{item.fecha | date : 'yyyy/MM/dd'}}</td>
                  <td>
                    <mat-slide-toggle color="primary" (click)="toggleEvent(item)" [(ngModel)]="item.estado"></mat-slide-toggle>
                  </td>
                </tr>
              </tbody>
            </table>

              <div fxLayout="column" *ngIf="peliculas==0" fxLayoutAlign="center center" class="container"
              style="text-align: center; margin-top: 0rem; margin-bottom: 0rem; background: white; padding: 6%;">
              <p class="mt-2 text-purple font-m" style="font-weight: 400; color: #212529 !important; margin: 0;">No se encontraron películas, ¡añadelas!</p>
              </div>

          </div>

        </div>
    </div>

</div>
