<div class="main-background">
     <div class="main-form">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 logocontainer">
                        <img src="../../../assets/img/theme/landing.png" class="newslogo" alt="landingimage">
                    </div>
                    <form [formGroup]="this.formulario">
                      <div class="col-md-12">
                        <div class="row logincontainer">
                            <div class="col-md-12" style="padding: 0;">
                                <h4 class="iniciarsesion">Inicia sesión</h4>
                            </div>
                            <div class="col-md-12 usercontainer">
                               <input type="text" formControlName="correo" placeholder="Correo">
                            </div>
                            <div class="col-md-12 passwordcontainer">
                               <input type="password" formControlName="password" placeholder="Contraseña">
                            </div>

                            <div class="col-md-12 passwordcontainer">
                                <button type="button" class="buttonsubmit" (click)="login()">Ingresar</button>

                            </div>

                            <div class="col-md-12 passwordcontainer">
                                <span class="account">No tienes un usuario? </span> <i class="gotoregister" routerLink="/register">Crea una cuenta</i>
                            </div>

                        </div>

                    </div>
                    </form>

                </div>

            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
