@media (max-width: 3000px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 69vh;
        background-position: center;
        width: 122vh;
        background-size: cover;
        margin-left: 20%;
        margin-top: 6%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 7rem;
        margin-top: 3rem;
    }

    input{
        padding: 2px 5px 2px 5px;
        border-radius: 4px;
        border: 1px solid #afafaf;
        font-family: "Nunito";
        width: auto;
    }

    .logocontainer{
        padding: 3rem;
    }
}

@media (max-width: 1600px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 69vh;
        background-position: center;
        width: 122vh;
        background-size: cover;
        margin-left: 20%;
        margin-top: 6%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 7rem;
        margin-top: 3rem;
    }


    input{
        padding: 2px 5px 2px 5px;
        border-radius: 4px;
        border: 1px solid #afafaf;
        font-family: "Nunito";
        width: auto;
    }

    .logocontainer{
        padding: 3rem;
    }
}

@media (max-width: 1366px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 71vh;
        background-position: center;
        width: 128vh;
        background-size: cover;
        margin-left: 20%;
        margin-top: 6%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 3rem;
        margin-top: 0rem;
    }

    input{
        padding: 2px 5px 2px 5px;
        border-radius: 4px;
        border: 1px solid #afafaf;
        font-family: "Nunito";
        width: 93%;
    }

    .logocontainer{
        padding: 3rem;
    }
}

//Media Query para iPad Pro horizontal
@media (max-width: 1366px) and (max-height: 1024px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 69vh;
        background-position: center;
        width: 122vh;
        background-size: cover;
        margin-left: 4%;
        margin-top: 10%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 10rem;
        margin-top: 6rem;
    }

    .logocontainer{
        padding: 3rem;
    }
}

//Media Query para pantallas pc 1366px
@media (max-width: 1366px) and (max-height: 657px){
  .main-background{
      width: auto;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  }

  .main-form{
      background-image: url('../../../assets/img/theme/authform.png') !important;
      height: 74vh;
      background-position: center;
      width: 131vh;
      background-size: cover;
      margin-left: 20%;
      margin-top: 6%;
      border-radius: 22px;
      position: fixed;
  }

  .registercontainer{
    margin-left: 7rem;
    margin-top: 1rem;
  }

  .logocontainer{
      padding: 3rem;
  }
}

//Media Query para iPad Pro vertical
@media (max-width: 1024px) and (max-height: 1366px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 47vh;
        background-position: center;
        width: 67vh;
        background-size: cover;
        margin-left: 5%;
        margin-top: 26%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 4rem;
        margin-top: 2rem;
    }

    .logocontainer{
        padding: 3rem;
    }
}

//Media Query para iPad horizontal
@media (max-width: 1024px) and (max-height: 768px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: url('../../../assets/img/theme/authform.png') !important;
        height: 68vh;
        background-position: center;
        width: 115vh;
        background-size: cover;
        margin-left: 7%;
        margin-top: 10%;
        border-radius: 22px;
        position: fixed;
    }

    .registercontainer{
        margin-left: 3rem;
        margin-top: 0rem;
    }

    .logocontainer{
        padding: 3rem;
    }
}

//Media Query para Celularess
@media (max-width: 430px){
    .main-background{
        width: auto;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    }

    .main-form{
        background-image: none !important;
        height: 69vh;
        width: 122vh;
        margin-left: 0%;
        margin-top: 0%;
        border-radius: 0px;

    }

    .registercontainer{
        margin-left: 1%;
        margin-top: 16%;
        background: white;
        padding: 3rem;
        width: 22rem;
        border-radius: 16px;
    }

    .logocontainer{
        padding: 0.7rem 0rem 0.2rem 2rem;
        background-color: white;
    }
}

.newslogo{
    height: 3rem;
    width: auto;
}


.iniciarsesion{
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 2rem;
    color: #2c2c2c;
}


.inputdiv{
    margin-bottom: 1rem;
    padding: 0;
}



.buttonsubmit{
    background: #022a4e;
    color: white;
    width: 11rem;
    border: 1px solid #022a4e;
    padding: 1px 10px 1px 10px;
    border-radius: 5px;
    font-family: 'Nunito';
    font-weight: 600;
}
.passwordcontainer{
    padding: 0;
}

.buttonsubmit:hover{
    background: #0c253b;
    color: white;
}

.buttonsubmit:active{
    background: #1e4669;
    color: white;
}

.account{
    font-family: 'Nunito';
    font-size: 0.9rem;
}

.gotoregister{
    font-family: 'Nunito';
    font-size: 0.9rem;
    font-weight: 600;
    color: #022a4e;
    cursor: pointer;
}
