<div class="main-background">
  <div class="main-form">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 logocontainer">
            <img
              src="../../../assets/img/theme/landing.png"
              class="newslogo"
              alt="landingimage"
            />
          </div>
          <div class="col-md-12">
            <form [formGroup]="formulario">
              <div class="row registercontainer">
                <div class="col-md-12" style="padding: 0; margin-bottom: 1rem">
                  <h4 class="iniciarsesion">Date de alta</h4>
                </div>
                <div class="col-md-6 inputdiv">
                  <input type="text"  formControlName="name" placeholder="Nombre" />
                </div>
                <div class="col-md-6 inputdiv">
                  <input type="text" formControlName="username" placeholder="Usuario" />
                </div>
                <div class="col-md-6 inputdiv">
                  <input type="email" formControlName="email" placeholder="Correo electrónico" />
                </div>
                <div class="col-md-6 inputdiv">
                  <input type="password"  formControlName="password" placeholder="Contraseña" />
                </div>

                <div
                  class="col-md-12 passwordcontainer"
                  style="margin-top: 0.5rem; margin-bottom: 0.5rem;"
                >
                  <button (click)="register()" type="button" class="buttonsubmit">
                    Registrarse
                  </button>
                </div>

                <div class="col-md-12 passwordcontainer">
                  <span class="account">Ya tienes una cuenta? </span>
                  <i class="gotoregister" routerLink="/login">Inicia sesión</i>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
