/* You can add global styles to this file, and also import other style files */

html, body { }
body { margin: 0; font-family: Nunito, "Helvetica Neue", sans-serif; background-color: #eff8ff;}

body::-webkit-scrollbar {
  width: 8px !important;
  background-color: #F5F5F5 !important;
}

body::-webkit-scrollbar-track {
  background-color: #F5F5F5 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  border-radius: 10px !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #555 !important;    /* color of the scroll thumb */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
}



.table thead th {
  padding-top: 0.75rem;
  background: #f6f9fc !important;
  padding-bottom: 0.75rem;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #e9ecef;
  font-weight: 600 !important;
  color: #8898aa !important;
}

table{
  margin-bottom: 0 !important;
}

.table-flush tbody {
  border-top: 0;
  font-weight: 500 !important;
  color: #2c2828 !important;
}


.table
{
    width: 100%;
    margin-bottom: 1rem;

    background-color: transparent;
}
.table th,
.table td
{
    padding: 1rem;

    vertical-align: top;

    border-top: 1px solid #e9ecef;
}
.table thead th
{
    vertical-align: bottom;

    border-bottom: 2px solid #e9ecef;
}
.table tbody + tbody
{
    border-top: 2px solid #e9ecef;
}
.table .table
{
    background-color: #f8f9fe;
}

.table-sm th,
.table-sm td
{
    padding: .5rem;
}

.table-bordered
{
    border: 1px solid #e9ecef;
}
.table-bordered th,
.table-bordered td
{
    border: 1px solid #e9ecef;
}
.table-bordered thead th,
.table-bordered thead td
{
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody
{
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd)
{
    background-color: rgba(0, 0, 0, .05);
}

.table-hover tbody tr:hover
{
    background-color: #f6f9fc;
}
