<div class="container">
  <div class="row" style="padding: 0% 0% 0% 5%;">
    <div class="col-md-12 newstitle">
      <h6 class="blogtitle">Las últimas películas en cartelera</h6>
      <span class="blogsubtitle">Disfrutalas en tu teatro más cercano</span>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3" *ngFor="let item of peliculas">
          <div class="col">
            <img [src]="'http://localhost:3000/uploads/'+item.poster" class="pelicula">
          </div>
          <div class="col divtitlemovie">
            <span class="movietitle">{{item.nombre}}</span>
          </div>

        </div>
        <div class="col-md-12" style="display: grid; justify-content: center;" *ngIf="peliculas==0">
             <img class="imgNoPeli" src="../../../assets/img/theme/nodata.png">

        <div class="col">
          <h2 class="blogsubtitle">
                ¡Aun no hay películas en cartelera!
          </h2>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>
