@media(max-width: 3000px){
  .main-content{
      display: flex;
      margin-left: 18%;
      padding-bottom: 6%;
  }

  .blogtitle{
      font-family: 'Nunito';
      font-weight: 800;
      font-size: 3rem;
      line-height: 2rem;
  }

  .imgmainblog{
      height: auto;
      width: 40%;
      border-radius: 6px;
      overflow: hidden;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  .imgblog{
      height: auto;
      width: 46%;
      overflow: hidden;
      background-repeat: no-repeat;
      border-radius: 6px;
      cursor: pointer;
  }


  .imgmainblog:hover{
      transform: scale(1.03);
      transition: 1s;
  }

  .imgblog:hover{
      transform: scale(1.03);
      transition: 1s;
  }

  .maintitle{
      font-family: 'Nunito';
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 700;
  }
}

@media(max-width: 400px){
  .main-content{
      display: flex;
      margin-left: 3%;
      padding-bottom: 17%;
      overflow-x: hidden;
  }

  .blogtitle{
      font-family: "Nunito";
      font-weight: 800;
      font-size: 3rem;
      line-height: 3rem;
  }

  .imgmainblog{
      height: auto;
      width: 90%;
      border-radius: 6px;
      overflow: hidden;
      background-repeat: no-repeat;
      cursor: pointer;
  }

  .maintitle{
      font-family: 'Nunito';
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 700;
  }
}






.mainblog{
  padding: 0;
  display: contents;
}

.secondblog{
  padding: 0;
}




.blogspace{
  margin-top: 3rem;
}


.dateblog{
  font-family: 'Nunito';
  font-weight: 700;
  color: #515151;
}

.datecontainer{
  padding: 4% 0% 3% 3%;
}

.secondatecontainer{
  padding: 0% 1% 0% 2%;
}



.secondtitle{
  font-family: "Nunito";
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: 700;
}

.titlecontainer{
  padding: 0% 0% 0% 3%;
}

.newstitle{
  padding: 5% 0% 4% 0%;
}

.blogsubtitle{
  font-family: 'Nunito';
  font-size: 1rem;
  font-weight: 500;
  color: #4b4e50;
}


.pelicula{
  height: 100%;
  width: 13rem;
  border-radius: 12px;
}

.pelicula:hover{

  filter : grayscale(60%);
  transform: scale(1.02);
  transition: 1s;
}
.divtitlemovie{
  margin: 5% 0% 0% 4%;
}

.movietitle{
  font-weight: 600;
  font-family: 'Roboto';
  color: #1a1a1a;
  text-transform: uppercase;
}


.imgNoPeli{
  width: auto;
  height: 45vh;
  margin-top: 0%;
  margin-left: 0%;
  z-index: 99;
  animation-name: floating !important;
  animation-duration: 3s !important;
  animation-iteration-count: infinite !important;
  animation-timing-function: ease-in-out !important;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}

